openapi: "3.0.3"
info:
  title: "Swiss OJP OpenAPI OJP 2.0 explorer"
  version: "1.1"
  description: |
    This swagger introduces the list of provided services the Swiss OJP 2.0 service. The interface follows the CEN standard interface OJP (Open API for distributed Journey Planning). For tests you need first to login with your key or this test key

    You can alter the different examples provided. Some parts are commented out. You make them valid again. Probably you will need to change the value to get a useful result (e.g. set it to the current date)

    We offer currently tests for the following services:
      - OJPLocationRequest: LIR
      - OJPStopEventRequest: SER
      - OJPTripRequest: TR
      - OJPTripInfoRequest: TIR
externalDocs:
  description: "OJP documentation"
  url: https://vdvde.github.io/OJP/release/2.0/documentation-tables/ojp.html
servers:
  - url: https://api.opentransportdata.swiss
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
paths:
  /ojp20:
    post:
      summary: "OJP 2.0 acccess"
      operationId: OJP2.0
      description: "OJP 2.0 is the name API under current development. However, this is access to the productive version. OJP 2.0 is a traditional API, where the operation definitions is done in body of the post request."
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: object
              xml:
                name: OJP
                wrapped: true
            examples:
              exampleLIR1:
                summary: "1. Location Information Service - Simple"
                description: "Simple OJPLocationInformationtRequest for bern s"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPLocationInformationRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>LIR-1i</siri:MessageIdentifier>
                          <InitialInput>
                            <Name>bern s</Name>
                          </InitialInput>
                          <Restrictions>
                            <NumberOfResults>3</NumberOfResults>
                          </Restrictions>
                        </OJPLocationInformationRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleLIR2:
                summary: "2. Location Information Service - topographic place"
                description: "Simple OJPLocationInformationtRequest for Hof bei Uznach"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPLocationInformationRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>LIR-1i</siri:MessageIdentifier>
                          <InitialInput>
                            <Name>Hof bei Uznach</Name>
                          </InitialInput>
                          <Restrictions>
                            <NumberOfResults>1</NumberOfResults>
                            <IncludePtModes>true</IncludePtModes>
                          </Restrictions>
                        </OJPLocationInformationRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleLIR3:
                summary: "3. Location Information Service - with circle coordinates"
                description: "OJPLocationInformationtRequest with circle coordinates"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPLocationInformationRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>LIR-1a2</siri:MessageIdentifier>
                          <InitialInput>
                            <GeoRestriction>
                              <Circle>
                                <Center>
                                  <siri:Longitude>8.538936</siri:Longitude>
                                  <siri:Latitude>47.376569</siri:Latitude>
                                </Center>
                                <Radius>5000</Radius>
                              </Circle>
                            </GeoRestriction>
                          </InitialInput>
                          <Restrictions>
                            <Type>stop</Type>
                            <NumberOfResults>3</NumberOfResults>
                          </Restrictions>
                        </OJPLocationInformationRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleLIR4:
                summary: "4. Location Information Service - extended version"
                description: "OJPLocationInformationtRequest for a POI by name"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPLocationInformationRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>LIR-3a</siri:MessageIdentifier>
                          <InitialInput>
                            <Name>hai</Name>
                          </InitialInput>
                          <Restrictions>
                            <Type>poi</Type>
                            <NumberOfResults>3</NumberOfResults>
                          </Restrictions>
                        </OJPLocationInformationRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleSER1:
                summary: "5. Stop Event Service - simple"
                description: "Simple OJPStopEventRequest for Bern"
                # change here to sloids
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPStopEventRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>SER-1a2</siri:MessageIdentifier>
                          <Location>
                            <PlaceRef>
                              <siri:StopPointRef>8503000</siri:StopPointRef>
                              <Name>
                                <Text>Bern</Text>
                              </Name>
                            </PlaceRef>
                          </Location>
                          <Params>
                            <NumberOfResults>3</NumberOfResults>
                            <StopEventType>departure</StopEventType>
                          </Params>
                        </OJPStopEventRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleSER2:
                summary: "6. Stop Event Service - complex"
                description: "Complex OJPStopEventRequest"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPStopEventRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>SER-1d4</siri:MessageIdentifier>
                          <Location>
                            <PlaceRef>
                              <siri:StopPointRef>8592570</siri:StopPointRef>
                              <Name>
                                <Text>Schaffhausen, Quellenstrasse</Text>
                              </Name>
                            </PlaceRef>
                            <DepArrTime>{{isoTimestamp}}</DepArrTime>
                          </Location>
                          <Params>
                            <LineFilter>
                              <Line>
                                <!-- Set your line will be a SLNID in the future and desired direction "H" or "R"!  -->
                                <siri:LineRef>ojp:92003:B</siri:LineRef>
                                <siri:DirectionRef>R</siri:DirectionRef>
                              </Line>
                              <Exclude>true</Exclude>
                            </LineFilter>
                            <NumberOfResults>3</NumberOfResults>
                            <StopEventType>departure</StopEventType>
                          </Params>
                        </OJPStopEventRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleTR1:
                summary: "7. Trip Service - Simple"
                description: "Simple OJPTripRequest Kloten - Schaffhausen"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPTripRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>TR-1a1NOW</siri:MessageIdentifier>
                          <Origin>
                            <PlaceRef>
                              <siri:StopPointRef>8503308</siri:StopPointRef>
                              <Name>
                                <Text>Kloten</Text>
                              </Name>
                            </PlaceRef>
                          </Origin>
                          <Destination>
                            <PlaceRef>
                              <siri:StopPointRef>8503424</siri:StopPointRef>
                              <Name>
                                <Text>Schaffhausen</Text>
                              </Name>
                            </PlaceRef>
                          </Destination>
                          <Params>
                            <NumberOfResults>3</NumberOfResults>
                            <IncludeIntermediateStops>true</IncludeIntermediateStops>
                            <UseRealtimeData>explanatory</UseRealtimeData>
                          </Params>
                        </OJPTripRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleTR2:
                summary: "8. Trip Service - with via and dwell time"
                description: "Define a stop over time on the via point of the trip"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPTripRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>TR-1e2</siri:MessageIdentifier>
                          <Origin>
                            <PlaceRef>
                              <siri:StopPointRef>8503000</siri:StopPointRef>
                              <LocationName>
                                <Text>Zürich HB</Text>
                              </LocationName>
                            </PlaceRef>
                            <DepArrTime>{{isoTimestamp}}</DepArrTime>
                          </Origin>
                          <Destination>
                            <PlaceRef>
                              <siri:StopPointRef>8503424</siri:StopPointRef>
                              <LocationName>
                                <Text>Schaffhausen</Text>
                              </LocationName>
                            </PlaceRef>
                          </Destination>
                          <Via>
                            <ViaPoint>
                              <siri:StopPointRef>8506000</siri:StopPointRef>
                              <LocationName>
                                <Text>Winterthur</Text>
                              </LocationName>
                            </ViaPoint>
                            <DwellTime>PT2H</DwellTime>
                          </Via>
                          <Params>
                            <NumberOfResults>1</NumberOfResults>
                            <IncludeIntermediateStops>true</IncludeIntermediateStops>
                          </Params>
                        </OJPTripRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleTR3:
                summary: "9. Trip Service - with a train with multiple destinations"
                description: "Uses the RemainInVehicule transfer, and lots of parameters for further information"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPTripRequest>
                          <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                          <siri:MessageIdentifier>TR-1r1</siri:MessageIdentifier>
                          <Origin>
                            <PlaceRef>
                              <siri:StopPointRef>8507000</siri:StopPointRef>
                              <Name>
                                <Text>Bern</Text>
                              </Name>
                            </PlaceRef>
                          </Origin>
                          <Destination>
                            <PlaceRef>
                              <siri:StopPointRef>8504128</siri:StopPointRef>
                              <Name>
                                <Text>Murten/Morat</Text>
                              </Name>
                            </PlaceRef>
                            <DepArrTime>{{isoTimestamp}}</DepArrTime>
                          </Destination>
                          <Params>
                            <NumberOfResults>3</NumberOfResults>
                            <IncludeAllRestrictedLines>true</IncludeAllRestrictedLines>
                            <IncludeTrackSections>true</IncludeTrackSections>
                            <IncludeLegProjection>true</IncludeLegProjection>
                            <IncludeIntermediateStops>true</IncludeIntermediateStops>
                          </Params>
                        </OJPTripRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
              exampleTIR1:
                summary: "10. Trip Information Service"
                description: "You need to copy a valid JourneyRef from the Service of a recently obtained. Operating day also needs to set to a valid day."
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns="http://www.vdv.de/ojp" xmlns:siri="http://www.siri.org.uk/siri" version="2.0">
                    <OJPRequest>
                      <siri:ServiceRequest>
                        <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                        <siri:RequestorRef>API-Explorer</siri:RequestorRef>
                        <OJPTripInfoRequest>
                            <siri:RequestTimestamp>{{isoTimestamp}}</siri:RequestTimestamp>
                            <siri:MessageIdentifier>TIR-1a</siri:MessageIdentifier>
                            <JourneyRef>ch:1:sjyid:100001:18355-001</JourneyRef>
                            <OperatingDayRef>{{today}}</OperatingDayRef>
                        </OJPTripInfoRequest>
                      </siri:ServiceRequest>
                    </OJPRequest>
                  </OJP>
      responses:
        "400":
          description: "Bad Request"
          content:
            application/xml:
              schema:
                type: object
                xml:
                  name: OJP
                  wrapped: true
              examples:
                example1:
                  summary: "Not a valid XML"
                  description: "The request is not valid. Check with xmllint or XMLSpy or so."
                  value: |
                    <problem xmlns="urn:ietf:rfc:7807">
                      <status>400</status>
                      <title>One or more validation errors occurred.</title>
                      <type>https://tools.ietf.org/html/rfc7231#section-6.5.1</type>
                      <traceId>00-32a4cf02692338530c7fd9899f0d6e4f-55e5e50844017d32-00</traceId>
                      <MVC-Errors>
                        <MVC-Empty>An error occurred while deserializing input data.</MVC-Empty>
                      </MVC-Errors>
                    </problem>
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
              examples:
                example2:
                  summary: "Wrong or no key provided"
                  description: "Get a correct key and apply it correctly."
                  value:
                    error: Authorization field missing
        "403":
          description: "Forbidden"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
              examples:
                example2:
                  summary: "Wrong or no key provided"
                  description: "Get a correct key and apply it correctly."
                  value:
                    error: Access to this API has been disallowed
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                type: object
                properties:
                  traceId:
                    type: string
                  error:
                    type: string
                  host:
                    type: string
                required:
                  - error
              examples:
                example3:
                  summary: "Something caused an internal problem"
                  description: "Some parameter could really not be processed."
                  value:
                    traceId: dfdd
                    error: Object reference not set to an instance of an object.
                    host: xyk1-123host.host
