<div class="container py-4">
  <header></header>

  @if (this.model.errorMessage) {
    <p class="error">{{ this.model.errorMessage }}</p>
  }

  <div class="card shadow-sm mb-3">
    <div class="card-body p-4">
      
      @if (this.model.isFetchingData) {
        <div class="d-flex align-items-center gap-2 my-3">
          <div class="spinner-border spinner-border-sm" role="status"></div>
          <span>Loading...</span>
        </div>
      }
      
      <div #swaggerContainer></div>
    </div>
  </div>

  <footer></footer>
</div>
