openapi: "3.0.3"
info:
  title: "Swiss OJP 1.0 OpenAPI explorer"
  version: "1.1"
  description: |
    This swagger introduces the list of provided services the Swiss OJP 1.0 service. The interface follows the CEN standard interface OJP (Open API for distributed Journey Planning).
    Keys for the API can be issued in our API manager https://api-manager.opentransportdata.swiss/.

    You can alter the different examples provided. Some parts are commented out. You need to make them valid again, in order to get a useful response (e.g. set it to the current date or time).

    We offer currently tests for the following services:
      - OJPLocationRequest: LIR
      - OJPStopEventRequest: SER
      - OJPTripRequest: TR
      - OJPTripInfoRequest: TIR
externalDocs:
  description: "OJP documentation"
  url: https://transmodel-cen.eu/index.php/ojp/
servers:
  - url: https://api.opentransportdata.swiss
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
paths:
  /ojp2020:
    post:
      summary: "OJP 1.0 acccess"
      operationId: "OJP1.0"
      description: "OJP is a traditional API, where the operation definitions is done in body of the post request"
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: object
              xml:
                name: OJP
                wrapped: true
            examples:
              exampleLIR:
                summary: "LIR - Simple"
                description: "Simple OJPLocationInformationtRequest for Bern"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.siri.org.uk/siri" version="1.0" xmlns:ojp="http://www.vdv.de/ojp" xsi:schemaLocation="http://www.siri.org.uk/siri ../ojp-xsd-v1.0/OJP.xsd">
                      <OJPRequest>
                          <ServiceRequest>
                              <RequestTimestamp>2024-06-01T11:24:34.598Z</RequestTimestamp>
                              <RequestorRef>API-Explorer</RequestorRef>
                              <ojp:OJPLocationInformationRequest>
                                  <RequestTimestamp>2024-06-01T11:24:34.598Z</RequestTimestamp>
                                  <ojp:InitialInput>
                                      <ojp:LocationName>Bern</ojp:LocationName>
                                  </ojp:InitialInput>
                                  <ojp:Restrictions>
                                      <ojp:Type>stop</ojp:Type>
                                      <ojp:NumberOfResults>1</ojp:NumberOfResults>
                                      <ojp:IncludePtModes>true</ojp:IncludePtModes>
                                  </ojp:Restrictions>
                              </ojp:OJPLocationInformationRequest>
                          </ServiceRequest>
                      </OJPRequest>
                   </OJP>
              exampleSER:
                summary: "SER - Simple"
                description: "Simple OJPStopEventRequest for Bern"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.siri.org.uk/siri" version="1.0" xmlns:ojp="http://www.vdv.de/ojp" xsi:schemaLocation="http://www.siri.org.uk/siri ../ojp-xsd-v1.0/OJP.xsd">
                      <OJPRequest>
                          <ServiceRequest>
                              <RequestTimestamp>2024-06-01T11:16:59.475Z</RequestTimestamp>
                              <RequestorRef>API-Explorer</RequestorRef>
                              <ojp:OJPStopEventRequest>
                                  <RequestTimestamp>2024-06-01T11:16:59.475Z</RequestTimestamp>
                                  <ojp:Location>
                                      <ojp:PlaceRef>
                                          <StopPlaceRef>8507000</StopPlaceRef>
                                          <ojp:LocationName>
                                              <ojp:Text>Bern</ojp:Text>
                                          </ojp:LocationName>
                                      </ojp:PlaceRef>
                                      <ojp:DepArrTime>{{isoTimestamp}}</ojp:DepArrTime>
                                  </ojp:Location>
                                  <ojp:Params>
                                      <ojp:OperatorFilter>
                                          <ojp:Exclude>false</ojp:Exclude>
                                          <ojp:OperatorRef>11</ojp:OperatorRef>
                                      </ojp:OperatorFilter>
                                      <ojp:NumberOfResults>1</ojp:NumberOfResults>
                                      <ojp:StopEventType>departure</ojp:StopEventType>
                                      <ojp:IncludePreviousCalls>true</ojp:IncludePreviousCalls>
                                      <ojp:IncludeOnwardCalls>true</ojp:IncludeOnwardCalls>
                                      <ojp:IncludeRealtimeData>true</ojp:IncludeRealtimeData>
                                  </ojp:Params>
                              </ojp:OJPStopEventRequest>
                          </ServiceRequest>
                      </OJPRequest>
                  </OJP>
              exampleTR:
                summary: "TR - Simple"
                description: "Simple OJPTripRequest"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.siri.org.uk/siri" version="1.0" xmlns:ojp="http://www.vdv.de/ojp" xsi:schemaLocation="http://www.siri.org.uk/siri ../ojp-xsd-v1.0/OJP.xsd">
                      <OJPRequest>
                          <ServiceRequest>
                              <RequestTimestamp>{{isoTimestamp}}</RequestTimestamp>
                              <RequestorRef>API-Explorer</RequestorRef>
                              <ojp:OJPTripRequest>
                                  <RequestTimestamp>{{isoTimestamp}}</RequestTimestamp>
                                  <MessageIdentifier>TR-1a1</MessageIdentifier>
                                  <ojp:Origin>
                                      <ojp:PlaceRef>
                                          <StopPointRef>8503308</StopPointRef>
                                          <ojp:LocationName>
                                              <ojp:Text>Kloten</ojp:Text>
                                          </ojp:LocationName>
                                      </ojp:PlaceRef>
                                      <ojp:DepArrTime>{{isoTimestamp}}</ojp:DepArrTime>
                                  </ojp:Origin>
                                  <ojp:Destination>
                                      <ojp:PlaceRef>
                                          <StopPointRef>8503424</StopPointRef>
                                          <ojp:LocationName>
                                              <ojp:Text>Schaffhausen</ojp:Text>
                                          </ojp:LocationName>
                                      </ojp:PlaceRef>
                                  </ojp:Destination>
                                  <ojp:Params>
                                      <ojp:NumberOfResults>5</ojp:NumberOfResults>
                                  </ojp:Params>
                              </ojp:OJPTripRequest>
                          </ServiceRequest>
                      </OJPRequest>
                  </OJP>
              exampleTIR:
                summary: "TIR - Simple"
                description: "Simple OJPTripInformationRequest"
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <OJP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.siri.org.uk/siri" version="1.0" xmlns:ojp="http://www.vdv.de/ojp" xsi:schemaLocation="http://www.siri.org.uk/siri ../ojp-xsd-v1.0/OJP.xsd">
                      <OJPRequest>
                          <ServiceRequest>
                              <RequestTimestamp>{{isoTimestamp}}</RequestTimestamp>
                              <RequestorRef>API-Explorer</RequestorRef>
                              <ojp:OJPTripInfoRequest>
                                  <RequestTimestamp>{{isoTimestamp}}</RequestTimestamp>
                                  <MessageIdentifier>TIR-1a</MessageIdentifier>
                                  <ojp:JourneyRef>ch:1:sjyid:100001:18362-001</ojp:JourneyRef>
                                  <ojp:OperatingDayRef>{{today}}</ojp:OperatingDayRef>
                              </ojp:OJPTripInfoRequest>
                          </ServiceRequest>
                      </OJPRequest>
                  </OJP>
      responses:
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
              examples:
                exampleAX:
                  summary: "Wrong or no key provided"
                  description: "Get a correct key and apply it correctly."
                  value:
                    error: "Authorization field missing"
        "429":
          description: "Rate limit exceeded"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
              examples:
                exampleAY:
                  summary: "Too many requests"
                  description: "Wait some time till your key allows further requests or get a API key with a higher rate limit."
                  value:
                    error: "Rate limit exceeded"
